body {
  background: rgb(2, 0, 36);
  background: linear-gradient(180deg, #26c6c4 0%, white 110%);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
